/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */
body {
	background-color: #e6e6e6;
}

.title {
	background-color: #0099ff;
	font-family: 'Julius Sans One', sans-serif;
	padding: 30px;
	margin-bottom: 30px;
	text-align: center;
	color: white;
}

h1 {
	font-size: 5em;
	font-weight: bold;
}

h2 {
	font-size: 2.5em
}

p {
	width: 800px;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	line-height: 1.5;
	margin: auto;
	margin-bottom: 30px;
}

.box {
	
}

.item {
	position: relative;
	width: 800px;
	height: 800px;
	margin: auto;
	margin-bottom: 30px;
	border: 1px solid black;
}

.photo {
	position: relative;
	width: 800px;
	height: 600px;
	margin: auto;
	margin-bottom: 30px;
	border: 5px solid white;
}

.pano {
	position: relative;
	width: 800px;
	height: 300px;
	margin: auto;
	margin-bottom: 30px;
	border: 5px solid white;
}