div.paragraphs{
    margin: 0 2% 0 2%
}

#main_logo{
    height: auto;
    margin: 0 auto 0 auto
}

#main_logo_img{
    width: 100%;
    max-width: 500px;
    height: auto
}

#navbar_logo{
    padding: 0 8px 0 8px
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue;
    color: #ffffff;
    width: 262px;
    background-clip: padding-box;
}

.autocomplete-items {
    position: fixed;
    top: 80%;
    padding: 5px 0 0 10px;
    z-index: 1000;
    overflow-y: scroll;
    width: 300px;
    height: 200px;
    background-color: white;
    border: solid 1px;
}

.autocomplete {
  color: #ff0000;
}

.navbar-black {
    background-color: black;
    padding: 16px 10px 16px 5px;
}

.footer {
    text-align: center;
    padding: 36px 0 36px 0;
    background-color: black;
}

.footer-item {
    color: white;
    font-size:24px;
}