.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue;
  color: #ffffff;
  width: 262px;
  background-clip: padding-box;
}

div.paragraphs{
    margin: 0 2% 0 2%
}

div.searchbar-container{
    display:inline-block;
    position:absolute;
    left:33%
}

.search-bar{
    height:43px;
    width:400px;
    vertical-align: middle;
    padding:0 5px 0 5px
}

.search-bar::-webkit-input-placeholder{
    font-size: 16px;
    font-style: italic
}

#main_logo{
    max-width: 50%;
    height: auto;
    margin: 0 auto 0 auto
}

#main_logo_img{
    width: 50%;
    height: auto
}

#navbar_logo{
    padding: 0 8px 0 8px
}