<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Prodigal!</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="w3-bar w3-black w3-padding-16">
      <a id="openNav" class="w3-button w3-bar-item w3-xlarge">&#9776;</a>
      <a href="index.html" class="w3-button w3-bar-item w3-large w3-right">Home</a>
      <a href="signup.html" class="w3-button w3-bar-item w3-large w3-right">Sign Up</a>
    </nav>
    <h1 align="center"> This is index page. </h1>
    <h3 align="center"><a href="profile"> To different page. </a></h3>
    <h3 align="center"><a href="login"> To login page. </a></h3>
</body>
</html>