<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <title>Prodigal - Profile</title>
        <script type="text/javascript">
        function autocomplete(inp, arr) {
              var currentFocus;
              inp.addEventListener("input", function(e) {
              var a, b, i, val = this.value;
              closeAllLists();
              if (!val) { return false;}
              currentFocus = -1;
              a = document.createElement("DIV");
              a.setAttribute("id", this.id + "autocomplete-list");
              a.setAttribute("class", "autocomplete-items");
              this.parentNode.appendChild(a);
              x = 0;
              for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                  b = document.createElement("DIV");
                  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                  b.innerHTML += arr[i].substr(val.length);
                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                      b.addEventListener("click", function(e) {
                      inp.value = this.getElementsByTagName("input")[0].value;
                      closeAllLists();
                  });
                  a.appendChild(b);
                  x++;
                }
                if (x > 5) {
                    x = 0;
                    break;
                }
              }
            });
            inp.addEventListener("keydown", function(e) {
              var x = document.getElementById(this.id + "autocomplete-list");
              if (x) x = x.getElementsByTagName("div");
              if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
              } else if (e.keyCode == 38) { //up
                currentFocus--;
                addActive(x);
              } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                  if (x) x[currentFocus].click();
                }
              }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                  x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                  if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                  }
                }
            }
        }       
        </script>
        <style type="text/css">
        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue;
            color: #ffffff;
            width: 262px;
            background-clip: padding-box;
        }

        .autocomplete-items {
          color: #ff0000;
        }

        .autocomplete {
          color: #ff0000;
        }

        .navbar-black {
            background-color: black;
            padding: 16px 10px 16px 5px;
        }

        .footer {
            text-align: center;
            padding: 36px 0 36px 0;
            background-color: black;
        }

        .footer-item {
            color: white;
            font-size:24px;
        }

        </style>
    </head>
    <body>
        <!-- Navigation -->
        <div class="w3-top">
            <nav class="w3-bar w3-black w3-padding-16">
                <a href="/prodigal_app" id="navbar_logo" class="w3-bar-item"><img src="{% static "images/navbar_logo.png" %}" alt="prodigal_logo_horizontal"></a>
                <div class="searchbar-container w3-large">
                    <div class="autoComplete">
                        <form id="search" method="POST" name="search_form" action="search">
                            {% csrf_token %}
                            <input type="search" id="navbar_searchbox" name="search_key" class="search-bar" placeholder="Search by ticker symbol...">
                            <button id="navbar_search_submit" type="submit" class="search-submit w3-button w3-blue w3-large"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <script>
                     var stocks = JSON.parse(('{{ company_list }}').replace(/&#39;/g,'\"'));
                     var searchBox = document.getElementById("navbar_searchbox");
                     searchBox.autocomplete = 'off';
                     autocomplete(searchBox, stocks);
                    </script>
                </div>
                <a href="signout" class="w3-bar-item w3-button w3-large w3-right">Sign Out</a>
            </nav>
        </div>
        <!-- Page body -->
        <div id="profile_container" style="background-image: url(../static/images/profile_bg.jpg); background-size: cover; min-height: 100vh; padding-bottom: 50px">
            <br>
            <div class="card shadow-lg" style="width: 100%; max-width: 70%; margin: 100px auto 0 auto">
                <div id="user_container" class="d-lg-flex flex-row" style="margin: 16px 0 16px 0">
                    <div id="avatar">
                        {% if request.session.gender == 'Male' %}
                        <img src="{% static 'images/male_avatar.png' %}" style="float:left;margin: 0 16px 0 16px;width:128px"/>
                        {% else %}
                            <img src="{% static 'images/female_avatar.png' %}" style="float:left;margin: 0 16px 0 16px;width:128px"/>
                        {% endif %}
                    </div>
                    <div id="text" class="align-self-center">
                        <h1 id="profile_username">{{ request.session.username }}</h1>
                        <h4 id="profile_email">{{ request.session.email }}</h4>
                    </div>
                </div>
            </div>
            <form method="post" id="hisfav_search" action="search">{% csrf_token %}</form>
            <div id="profile_history" class="card shadow-lg" style="width: 100%; max-width: 70%; margin: 30px auto 0 auto">
                <div class="card-header">
                    <h2>Recent Searches</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group" id="history_list">
                        {% if history %}
                        {% for ticker, name in history %}
                            <li class="list-group-item">
                                <button id="{{ ticker }}" class="btn btn-outline-dark" type="submit" name="search_key" value="{{ name }}" form="hisfav_search">
                                        {{ ticker }} - {{ name }}
                                </button>
                            </li>
                        {% endfor %}
                        {% else %}
                            <li class="list-group-item">
                                <h4>Search history is empty.</h4>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="profile_favorite" class="card shadow-lg" style="width: 100%; max-width: 70%; margin: 30px auto 0 auto">
                <div class="card-header">
                    <h2>Favorites</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group" id="favorite_list">
                        {% if favorites %}
                        {% for ticker, name in favorites %}
                            <li class="list-group-item">
                                <button id="fav_{{ ticker }}" class="btn btn-outline-dark" type="submit" name="search_key" value="{{ name }}" form="hisfav_search">
                                    {{ ticker }} - {{ name }}
                                </button>
                            </li>
                        {% endfor %}
                        {% else %}
                            <li class="list-group-item">
                                <h4>No favorite companies.</h4>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div id="profile_container" style="width:70%;margin:80px auto 32px auto;padding:0 16px 0 16px;overflow:hidden;min-height:100vh">
            <div id="user_container" style="overflow:hidden;margin: 32px 0 32px 0">
                {% if request.session.gender == 'Male' %}
                    <img src="{% static 'images/male_avatar.png' %}" style="float:left;margin: 0 16px 16px 16px;width:128px"/>
                {% else %}
                    <img src="{% static 'images/female_avatar.png' %}" style="float:left;margin: 0 16px 16px 16px;width:128px"/>
                {% endif %}
                <h2 id="profile_username">{{ request.session.username }}</h2>
                <h4 id="profile_email">{{ request.session.email }}</h4>
            </div>
            <div id="profile_history" style="background-color:#eeeeee;border-radius: 16px;margin-bottom: 32px;box-shadow:5px 5px 2px grey">
                <form method="post" id="hisfav_search" action="search">{% csrf_token %}</form>
                <table style="padding:16px;width:100%;font-size:16px">
                    <tr>
                        <th style="text-align: left;font-size: 24px"> Recent Searches </th>
                    </tr>
                    {% if history %}
                        {% for ticker, name in history %}
                            <tr>
                                <td>
                                    <button id="{{ ticker }}" class="w3-button" type="submit" name="search_key" value="{{ name }}" form="hisfav_search">
                                        {{ ticker }} - {{ name }}
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td>Search history is empty.</td></tr>
                    {% endif %}
                </table>
            </div>
            <div id="profile_favorite" style="background-color:#eeeeee;border-radius: 16px;margin-bottom: 32px;box-shadow:5px 5px 2px grey">
                <table style="padding:16px;width:100%;font-size:16px">
                    <tr>
                        <th style="text-align: left;font-size:24px"> Favorites </th>
                    </tr>
                    {% if favorites %}
                        {% for ticker, name in favorites %}
                            <tr>
                                <td>
                                    <button id="fav_{{ ticker }}" class="w3-button" type="submit" name="search_key" value="{{ name }}" form="hisfav_search">
                                        {{ ticker }} - {{ name }}
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td>No favorite companies.</td></tr>
                    {% endif %}
                </table>
            </div>

        </div>-->
        <!-- Footer -->
        <footer id="Home" class="footer">
            <a class="footer-item" href="#"><i class="fa fa-facebook-official"></i></a>&nbsp;
            <a class="footer-item" href="#"><i class="fa fa-twitter"></i></a>&nbsp;
            <a class="footer-item" href="#"><i class="fa fa-flickr"></i></a>&nbsp;
            <a class="footer-item" href="#"><i class="fa fa-linkedin"></i></a>
            <p style="font-size:16px; color: white">
                Powered by <a href="https://getbootstrap.com/" target="_blank">BootStrap</a>
            </p>
        </footer>
    </body>
</html>