<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
        <title>Prodigal - Search</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
	function autocomplete(inp, arr) {
          var currentFocus;
          inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          this.parentNode.appendChild(a);
          x = 0;
          for (i = 0; i < arr.length; i++) {
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              b = document.createElement("DIV");
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                  b.addEventListener("click", function(e) {
                  inp.value = this.getElementsByTagName("input")[0].value;
                  closeAllLists();
              });
              a.appendChild(b);
              x++;
            }
            if (x > 5) {
                x = 0;
                break;
            }
          }
        });
        inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            currentFocus++;
            addActive(x);
          } else if (e.keyCode == 38) { //up
            currentFocus--;
            addActive(x);
          } else if (e.keyCode == 13) {
            e.preventDefault();
            if (currentFocus > -1) {
              if (x) x[currentFocus].click();
            }
          }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
              }
            }
        }
    }       
	
      function getNextdate(lastest_year, lastest_month, lastest_day){
        var sp = 0;
        if((lastest_year % 4 == 0 && lastest_year % 100 != 0) || (lastest_year % 400 == 0))
            sp = 1;
        if(lastest_day >= 28){
            if(lastest_month == 2 && sp == 1 && lastest_day == 28)
                lastest_day += 1;
            else if(lastest_month == 1 || lastest_month == 3 || lastest_month == 5 || lastest_month == 7 || lastest_month == 8 || lastest_month == 10){
                if(lastest_day == 31){
                    lastest_month += 1;
                    lastest_day = 1;
                }
                else
                    lastest_day += 1;
            }
            else if(lastest_month == 4 || lastest_month == 6 || lastest_month == 9 || lastest_month == 11){
                if(lastest_day == 30){
                    lastest_month += 1;
                    lastest_day = 1;
                }
                else
                    lastest_day += 1;
            }
            else if(lastest_month == 12){
                if(lastest_day == 31){
                    lastest_year += 1;
                    lastest_month = 1;
                    lastest_day = 1;
                }
                else
                    lastest_day += 1;
            }
            else{
                lastest_month += 1;
                lastest_day = 1;
            }
        }
        else{
            lastest_day += 1;
        }
        var d = new Date(lastest_year, lastest_month, lastest_day); 
        var return_array = new Array(d, lastest_year, lastest_month, lastest_day);
        return return_array;
      }

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var pridiction_first_on = 0;
        var pridiction_second_on = 0;
        var pridiction_json_first;
        var pridiction_json_second;

        var decoded_first = ('{{ chart_json }} ').replace(/&#39;/g,'\"');
        if(('{{ chart_json_second }} ') != " "){
            // need to skip weekend
            var decoded_second = ('{{ chart_json_second }} ').replace(/&#39;/g,'\"');
            var chart_json_first = JSON.parse( decoded_first );
            var chart_json_second = JSON.parse( decoded_second );

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', '{{ name }} ' + 'Closing');
            data.addColumn('number', '{{ name_second }} ' + 'Closing');

            var numRows = chart_json_first.length < chart_json_second.length ? chart_json_first.length : chart_json_second.length;
            
            for (var i = 0; i < numRows; i++){
                var a = chart_json_first[i].date;
                var res = a.split("-");
                var d = new Date(res[0],res[1]-1,res[2]);
                var myrow = new Array(d, chart_json_first[i].closing, chart_json_second[i].closing);
                data.addRow(myrow);
            }

            if(('{{ pridiction }} ') != " "){
                pridiction_first_on = 1;
                var decoded_pridiction_first = ('{{ pridiction }} ').replace(/&#39;/g,'\"');
                pridiction_json_first = JSON.parse( decoded_pridiction_first );
                data.addColumn('number', '{{ name }} ' + 'Pridiction');
            }
            if(('{{ pridiction_second }} ') != " "){
                pridiction_second_on = 1;
                var decoded_pridiction_second = ('{{ pridiction_second }} ').replace(/&#39;/g,'\"');
                pridiction_json_second = JSON.parse( decoded_pridiction_second );
                data.addColumn('number', '{{ name_second }} ' + 'Pridiction');
            }

            var date = ('{{ latest_date }} ').split("-");
            var lastest_year = parseInt(date[0]);
            var lastest_month = parseInt(date[1]) - 1;
            var lastest_day = parseInt(date[2]);

            myrow = new Array(new Date(lastest_year, lastest_month, lastest_day), null, null, chart_json_first[0].closing, chart_json_second[0].closing);
            data.addRow(myrow);

            for (var i = 0; i < 5; i++){
                var date_array = getNextdate(lastest_year, lastest_month, lastest_day);
                var d = date_array[0];
                lastest_year = date_array[1];
                lastest_month = date_array[2];
                lastest_day = date_array[3];
                var myrow;
                if (pridiction_first_on == 1 && pridiction_second_on == 1){
                    myrow = new Array(d, null, null, pridiction_json_first[i].value, pridiction_json_second[i].value);
                }
                else if (pridiction_first_on == 0 && pridiction_second_on == 1)
                    myrow = new Array(d, null, null, pridiction_json_second[i].value);
                else
                    myrow = new Array(d, null, null, pridiction_json_first[i].value);
                data.addRow(myrow);
            }
        }
        else{
            var chart_json_first = JSON.parse( decoded_first );

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', '{{ name }} ' + 'Closing');
            

            var numRows = chart_json_first.length;

            for (var i = 0; i < numRows; i++){
                var a = chart_json_first[i].date;
                var res = a.split("-");
                var d = new Date(res[0],res[1]-1,res[2]);
                var myrow = new Array(d, chart_json_first[i].closing);
                data.addRow(myrow);            
            }

            if(('{{ pridiction }} ') != " "){
                pridiction_first_on = 1;
                var decoded_pridiction_first = ('{{ pridiction }} ').replace(/&#39;/g,'\"');
                pridiction_json_first = JSON.parse( decoded_pridiction_first );
                data.addColumn('number', '{{ name }} ' + 'Pridiction');
            }

            var date = ('{{ latest_date }} ').split("-");
            var lastest_year = parseInt(date[0]);
            var lastest_month = parseInt(date[1]) - 1;
            var lastest_day = parseInt(date[2]);

            // for continuous reason
            myrow = new Array(new Date(lastest_year, lastest_month, lastest_day), null, chart_json_first[0].closing);
            data.addRow(myrow);

            for (var i = 0; i < 5; i++){
                var date_array = getNextdate(lastest_year, lastest_month, lastest_day);
                var d = date_array[0];
                lastest_year = date_array[1];
                lastest_month = date_array[2];
                lastest_day = date_array[3];
                var myrow;
                if(pridiction_first_on == 1)
                    myrow = new Array(d, null, pridiction_json_first[i].value);

                data.addRow(myrow);
            }
        }

        var options = {
          chartArea:{width:"90%",height:"80%"},
          curveType: 'function',
          legend: { position: 'bottom' },
          colors: ['#ff2d00', '#1111ea', '#2bba45', '#8818d1']
        };

        var chart = new google.visualization.LineChart(document.getElementById('stock_chart'));

        chart.draw(data, options);
      }

      function alternate(){
        if(this.checked){
            this.checked = false;
        }
        else{
            this.checked = true;
        }
      }
    </script>
    <style>
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
          top:13px;
        }

        .switch input {display:none;}

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: black;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: white;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }

        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue;
            color: #ffffff;
            width: 262px;
            background-clip: padding-box;
        }

        .autocomplete-items {
          color: #ff0000;
        }

        .autocomplete {
          color: #ff0000;
        }
    </style>

    </head>
    <body>
        <!-- Navigation -->
        <div class="w3-top">
            <nav class="w3-bar w3-black w3-padding-16">
                <a href="/prodigal_app" id="navbar_logo" class="w3-bar-item"><img src="{% static "images/navbar_logo.png" %}" alt="prodigal_logo_horizontal"></a>
                <div class="searchbar-container w3-large">
    				<div class="autoComplete">
                        <form id="search" method="POST" name="search_form" action="search">
                            {% csrf_token %}
                            <input type="search" id="navbar_searchbox" name="search_key" class="search-bar" placeholder="Search by company name...">
                            <label class="switch">
                                <input id="search_toggle" type="checkbox" name="mode" value="comparison" onclick="alternate()">
                                <span class="slider"></span>
                            </label>
                            <label><b>Compare</b></label>
                            <button id="navbar_search_submit" type="submit" class="search-submit w3-button w3-black w3-large"><i class="fa fa-search"></i></button>
                        </form>
    				</div>
    				<script>
        				 var stocks = JSON.parse(('{{ company_list }}').replace(/&#39;/g,'\"').replace(/&amp;/g, "&").replace(/&quot;/g,''));
        				 var searchBox = document.getElementById("navbar_searchbox");
        				 searchBox.autocomplete = 'off';
        				 autocomplete(searchBox, stocks);
    				</script>
                </div>
                <a href="profile" id="navbar_profile" class="w3-button w3-bar-item w3-large w3-right">Profile</a>
            </nav>
        </div>
        <!-- No matching search results -->
        {% if msg %}
        <div id="search-container" style="margin: 80px 2% 0 2%; min-height:100vh">
            <h1 id="fail"> {{ msg }} </h1>
        </div>
        <!-- Search Results -->
        {% else %}
        <div id="search-container" style="margin: 80px 2% 0 2%; min-height:100vh">
            <div id="result">
                <div id="search_top_container">
                    <div id="company_name" style="display: inline-block;">
                        <h1>{{ name }}</h1>
                    </div>
                    <iframe src="favorite" width="250px" height="74px" style="border:none; display:inline-block; vertical-align: middle; margin-left: 10px"></iframe>
                </div>
                <h2>Projection</h2>
                <div id="stock_chart" style="width: 728px; height: 450px; margin-bottom:20px">
                    <!-- Div for chart -->
                </div>
                {% if high %}
                <div id="company_basic_stock" style="display: inline-block;">
                    <h2>Latest Data</h2>
                    <table>
                        <tr>
                            <th>High:</th>
                            <td>{{ high }}</td>
                        </tr>
                        <tr>
                            <th>Low:</th>
                            <td>{{ low }}</td>
                        </tr>
                        <tr>
                            <th>Opening:</th>
                            <td>{{ opening }}</td>
                        </tr>
                        <tr>
                            <th>Closing:</th>
                            <td>{{ closing }}</td>
                        </tr>
                        <tr>
                            <th>Volume:</th>
                            <td>{{ volume }}</td>
                        </tr>
                    </table>
                    <br>
                </div>
                {% endif %}
                {% if desc %}
                <div id="company_description" style="margin: 10px 0">
                    <h2>Company Description</h2>
                    {% for p in desc %}
                        <p> {{ p }} </p>
                    {% endfor %}
                </div>
                {% endif %}
                <div id="news" style="margin: 10px 0">
                    <h2>News</h2>
                    <ul id="news_list">
                        {% for news, link in newslist %}
                            <li><a href={{ link }} target="_blank">{{ news }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Footer -->
        <footer id="Home" class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
            <a href="#"><i class="fa fa-facebook-official"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-flickr"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <p class="w3-medium">
                Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
            </p>
        </footer>
    </body>
</html>