{% load staticfiles %}

<html>

<head>
    <title>Chat Panel</title>
</head>

<body>
    <div id="chat-body" class="panel panel-default">
        <div class="panel-heading">Movie Fans Chatroom</div>
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">
                {% for obj in chat %}
                    {% if obj.user == request.user %}
                        <li class="text-right list-group-item">{{ obj.message }}</li>
                    {% else %}
                        <li class="text-left list-group-item">{{ obj.message }}</li>
                    {% endif %}
                {% empty %}
                    <li class="text-right list-group-item">No messages yet!</li>
                {% endfor %}
                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
        </div>
    </div>

    <form id="chat-form" method="post" action="/post/">
        {% csrf_token %}
	<div id="chat-bottom" class="input-group">
            <input type="text" id="chat-msg" name="chat-msg" class="form-control"/>
            <span class="input-group-btn">
                <input class="btn btn-default" id="send" type="submit" value="Send"/>
            </span>
        </div>
    </form>
</body>

</html>
